<h3>Edit <em><%= @product.name %></em></h3>

<% if flash[:notice] %>
  <%= render 'flash_msg-failed' %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <%= render 'products_form' %>
  </div>
</div>

<%= link_to 'Go back', products_path %>
